body {
  width: 100%;
}

.main-header {
  background: rgb(245, 238, 238);
  color: purple;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  box-shadow: 0 0 7px purple;
}

.main-header .brand {
  font-weight: bolder;
  margin: 12px;
}

.brand a {
  text-decoration: none;
  color: purple;
}

.nav-items {
  display: flex;
  padding: 0.4rem;
  font-weight: bold;
  padding: 1rem;
}

.nav-items li a {
  list-style: none;
  margin: 8px;
}

.nav-items a {
  text-decoration: none;
  padding: 0.5rem;
  color: purple;
}

/* Home */

.home-container {
  margin: auto;
  max-width: 900px;
  margin-top: 80px;
  background: thistle;
  padding: 1rem;
  height: 400px;
}

.btn-link {
  color: #fff;
  padding: 0.5rem;
  background: purple;
  border: none;
  border: 1px solid purple;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: bold;
}

.fa-pen {
  color: purple;
}

/* Form  */

form {
  max-width: 750px;
  margin: auto;
  margin-top: 40px;
  /* padding: 0.4rem; */
}

.form-title {
  margin-top: 70px;
  text-align: center;
}

form label {
  display: block;
  margin-top: 5px;
  color: purple;
  font-weight: bold;
}

input {
  width: 100%;
  height: 2rem;
  border: none;
  outline: none;
  border: 1.2px solid purple;
  text-align: 20px;
  padding-left: 5px;
}

button {
  margin-top: 10px;
  height: 2.4rem;
  width: 100%;
  border: none;
  outline: none;
  border: 1.2px solid purple;
  background: purple;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0.1rem;
}
