body {
  width: 100%;
}

.main-header {
  background: rgb(245, 238, 238);
  color: purple;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  box-shadow: 0 0 7px purple;
}

.main-header .brand {
  font-weight: bolder;
  margin: 12px;
}

.brand a {
  text-decoration: none;
  color: purple;
}

.nav-items {
  display: flex;
  padding: 0.4rem;
  font-weight: bold;
  padding: 1rem;
}

.nav-items li a {
  list-style: none;
  margin: 8px;
}

.nav-items a {
  text-decoration: none;
  padding: 0.5rem;
  color: purple;
}

/* Home */
.home-container {
  margin: auto;
  max-width: 900px;
  margin-top: 80px;
  background: thistle;
  padding: 1rem;
  height: 400px;
}

.btn-link {
  color: #fff;
  padding: 0.5rem;
  background: purple;
  border: none;
  border: 1px solid purple;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: bold;
}

.fa-pen {
  color: purple;
}

.space {
  margin: 1rem;
}

/* Form  */
form {
  max-width: 750px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0 0 20px #000;
  padding: 1rem;
}

.form-title {
  margin-top: 70px;
  text-align: center;
  color: purple;
}

form label {
  display: block;
  margin-top: 5px;
  color: purple;
  font-weight: bold;
}

input {
  width: 100%;
  height: 2rem;
  border: none;
  outline: none;
  border: 1.2px solid purple;
  text-align: 20px;
  padding-left: 5px;
}

button {
  margin-top: 10px;
  height: 2.4rem;
  width: 100%;
  border: none;
  outline: none;
  border: 1.2px solid purple;
  background: purple;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0.1rem;
}

/* Login Form // Notes */

.all-notes {
  margin-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  color: purple;
  text-transform: uppercase;
}

.add-form {
  font-size: 1rem;
  /* border-radius: 20px; */
  margin-top: 17px;
}

.add-form input {
  /* border-radius: 10px; */
  border: 1.8px solid purple;
  padding: 0.6rem;
}

/* Output */
.output {
  text-align: center;
  margin-top: 40px;
}

/* Media Queries */
/* Medium Screen Size */
@media (max-width: 769px) {
  .home-container {
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
  }

  .add-form {
    max-width: 550px;
    margin: auto;
  }

  /* Register Form */
  form {
    max-width: 410px;
    margin: auto;
  }

  .form-title {
    margin-top: 40px;
  }
}

/* Small Screen Size */
@media (max-width: 500px) {
  .home-container {
    max-width: 388px;
    margin: auto;
    margin-top: 20px;
  }

  .add-form {
    max-width: 388px;
    margin: auto;
  }

  form {
    max-width: 335px;
    margin: auto;
  }
}
